---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import Body from "../components/body.astro";
import CalendarIcon from "../components/icons/calendar.astro";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Date from "../components/date.astro";
import Footer from "../components/footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { data } = post;
const { Content } = await post.render();

import "../css/blog.css";
---

<html lang="es">
  <head>
    <Head
      title={data.title}
      description={data.description}
      image={data.heroImage}
      isPost
    />
  </head>
  <Body>
    <Header isPost />
    <main class="container mx-auto max-w-screen-lg my-6">
      <article class="my-16">
        <div class="flex items-center flex-row mb-8 px-6 sm:px-0">
          <CalendarIcon />
          <Date
            date={data.pubDate}
            classNames="block font-lato font-light text-sm sm:text-base"
          />
        </div>
        <h1
          class="font-bold font-montserrat text-3xl lg:text-5xl mb-8 px-6 sm:px-0"
        >
          {data.title}
        </h1>
        <div class="flex flex-row space-between items-center mb-4 px-6 sm:px-0">
          <div class="flex flex-row justify-center items-center sm:mr-10 mr-4">
            <figure>
              <Image
                src="https://assets.codeo.co/sergio-pomarico.jpg"
                alt={data.author}
                width={32}
                height={32}
                class="rounded-full mr-2"
              />
            </figure>
            <span class="font-lato font-light">
              {data.author}
            </span>
          </div>
        </div>
        <div class="mb-16">
          {
            data.heroImage && (
              <figure class="w-auto h-auto object-cover object-center">
                <Image
                  src={data.heroImage}
                  alt={data.title}
                  format="avif"
                  quality={90}
                  width={1024}
                  height={510}
                  decoding="async"
                  loading="lazy"
                  class="sm:rounded-3xl"
                  style={`view-transition-name: ${post.slug}`}
                />
              </figure>
            )
          }
        </div>
        <div class="max-w-[940px] mx-auto px-6">
          <Content />
        </div>
      </article>
    </main>
    <Footer />
  </Body>
</html>
