---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];
const { title, pubDate, heroImage, description, url, categories } = Astro.props;

import Date from "../components/date.astro";
import CalendarIcon from "../components/icons/calendar.astro";
import Tag from "../components/tag.astro";

import { slugify } from "../utils/slug";
---

<article class="grid gap-16 grid-cols-1 p-6">
  <div
    class="w-full flex flex-col items-center gap-8 relative h-full overflow-hidden md:flex-row"
  >
    {
      heroImage && (
        <a
          href={url}
          class="rounded-2xl md:h-[424px] flex items-center justify-center lg:w-[820px] md:w-full md:items-start lg:max-w-[initial] lg:min-w-[initial] md:max-w-[50%] md:min-w-[50%] overflow-hidden h-[240px] sm:max-w-full sm:min-w-full"
        >
          <Image
            src={heroImage}
            height={424}
            width={820}
            alt={title}
            format="avif"
            fit="cover"
            loading="lazy"
            quality={80}
            class="sm:h-full sm:w-auto max-w-[unset] rounded-2xl aspect-[205/106] w-full h-auto"
          />
        </a>
      )
    }
    <div class="flex flex-col w-full md:w-[50%] lg:w-[528]">
      <div class="flex items-center flex-row mb-8 px-0">
        {
          categories.map((category) => (
            <Tag
              category={category!}
              route={`/category/${slugify(category)}`}
            />
          ))
        }
        <div class="flex items-center flex-row ml-4">
          <CalendarIcon />
          <Date
            date={pubDate}
            classNames="block font-lato font-light text-sm"
          />
        </div>
      </div>
      <a href={url}>
        <h3 class="w-full font-montserrat font-bold md:text-3xl text-xl mb-4">
          {title}
        </h3>
      </a>
      <p class="w-full font-lato font-light mb-2 text-lg">{description}</p>
    </div>
  </div>
</article>
