---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];

import Date from "../components/date.astro";
import CalendarIcon from "../components/icons/calendar.astro";
import Tag from "../components/tag.astro";

const { title, pubDate, heroImage, description, url, category } = Astro.props;
---

<article
  class="flex lg:flex-col md:flex-row flex-grow md:gap-8 lg:gap-0 gap-0 flex-col"
>
  {
    heroImage && (
      <a
        href={url}
        class="flex items-center justify-center w-full lg:max-w-full lg:min-w-full overflow-hidden rounded-2xl md:max-w-[50%] md:min-w-[50%] min-w-full max-w-full"
      >
        <Image
          src={heroImage}
          height={220}
          width={420}
          alt={title}
          format="avif"
          fit="cover"
          loading="lazy"
          quality={80}
          class="h-auto w-auto max-w-full rounded-2xl"
          style={`view-transition-name: ${url}`}
        />
      </a>
    )
  }
  <div
    class="flex flex-col mt-8 mb:mt-0 lg:mt-8 justify-center lg:justify-start"
  >
    <div class="flex items-center flex-row mb-8 px-0">
      <Tag category={category!} route={`/category/${category}`} />
      <div class="flex items-center flex-row px-6 sm:px-0">
        <CalendarIcon />
        <Date date={pubDate} classNames="block font-lato font-light text-sm" />
      </div>
    </div>
    <a href={url}>
      <h3 class="font-montserrat font-bold text-xl mb-4">{title}</h3>
    </a>
    <p class="font-lato font-light mb-2">{description}</p>
  </div>
</article>
