---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];

import Date from "../components/date.astro";
import CalendarIcon from "../components/icons/calendar.astro";

const { title, pubDate, heroImage, description, url } = Astro.props;
---

<article class="min-h-[360px]">
  {
    heroImage && (
      <div class="mb-6">
        <a href={url}>
          <figure class="w-auto h-auto object-cover object-center">
            <Image
              src={heroImage}
              height={220}
              width={420}
              alt={title}
              format="avif"
              class="rounded-2xl"
              style={`view-transition-name: ${url}`}
            />
          </figure>
        </a>
      </div>
    )
  }
  <div>
    <div class="flex items-center flex-row mb-6 px-6 sm:px-0">
      <CalendarIcon />
      <Date date={pubDate} classNames="block font-lato font-light text-sm" />
    </div>
    <a href={url}>
      <h3 class="font-montserrat font-bold text-xl mb-4">{title}</h3>
    </a>
    <p class="font-lato font-light mb-2">{description}</p>
  </div>
</article>
